body {
    background-color: rgb(192, 190, 188);
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgb(167, 50, 50);
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                       
* {
    margin:0px;
    padding:0px;
}

img {
    margin: 0px;
    padding-left: 120px;
    width: 280px;
    height: 100px;
}


#header {
    margin: 50px;
    width: 1000px;
    padding-left: 160px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.menu > li {
    float:left;
}

.menu li a {
    background-color:black;
    color:#fff;
    text-decoration:none;
    width: 150px;
    margin:auto;
    padding:10px 24px;
    display:block;
}

.menu li a:hover {
    background-color:#434343;
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:120px;
}

.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position:relative;
}

.menu li ul li ul {
    right:-140px;
    top:0px;
}      

